!!!
%html
  %head 
    %title fire_coverage
    = stylesheet_link_tag 'screen', :media => 'all', :cache => true 
    = javascript_include_tag "jquery", "jquery-ui", "prefilled_input", "rails", "application", :cache => true
    = csrf_meta_tag
  %body
    #header
      -if signed_in?
        = link_to "Sign out", sign_out_path, :method => :delete
      -else 
        = link_to "Sign in", sign_in_path
    = render :partial => 'shared/flashes'
    = yield
    = render :partial => 'shared/javascript'